._environment.sh
local_settings.py
database.sqlite
*.pyc
*~
*.map
env
.vscode
.tm_properties
environment.sh
resetdb.sh
localdata.json
*.swp
schedule.sh
game.csv
*.sublime-project
*.sublime-workspace
**/.sass-cache
**/.sass-cache/*
*/.sass-cache
*/.sass-cache/*
celerybeat-schedule
dump.rdb
debug.log
latest.dump
terminate_log.csv
env36